*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body,html{
    height: 100%;
    width: 100%;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url("https://images.pexels.com/photos/3131634/pexels-photo-3131634.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

a:hover{
    color: navy;
}

/*-------------- header ------------------*/
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}

/*------------------ dropdown menu ------------------*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background:rgba(255, 255, 255, 0.2) ;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 80%;
    display: flex;
    justify-content: center;
}



/*------------------ Responsive Design ------------------*/
@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
    
}

@media(max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

}



